$rgba-primary-0: rgba(  2,137,209,1);	// Main Primary color */
$rgba-primary-1: rgba( 49,167,230,1);
$rgba-primary-2: rgba( 10,157,236,1);
$rgba-primary-3: rgba(  2, 98,150,1);
$rgba-primary-4: rgba(  1, 76,117,1);

$colorPrimary   : $rgba-primary-0;
$green          : #009688;
$pink           : #D4145A;
$yellow         : #FFA000;
$gris           : #767676;
$black          : #000000;
$color-accent   : $yellow;

/* Light theme Material Design */
$light-status-bar     : #e0e0e0;
$light-app-bar        : #f5f5f5;
$light-background     : #fafafa;
$light-cards-dialogs  : #ffffff;
$light-primary-text   : rgba(0,0,0,0.87);
$light-secundary-text : rgba(0,0,0,0.54);
$light-disabled-text  : rgba(0,0,0,0.38);
$light-divider-text   : rgba(0,0,0,0.12);
$light-divider        : rgba(0,0,0,0.38);
$light-icon-active    : rgba(255,255,255,1.00);
$light-icon-inactive  : rgba(255,255,255,0.50);

$facebook-color     : #3b5998;
$facebook-divider   : #344AE1;
$twitter-color      : #55acee;
$google-color       : #dd4b39;
$google-divider     : #cc3932;
$linkedin-color     : #0177B5;
$github-color       : #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color      : #F26798;
$behace-color       : #0093FA;
$youtube-color      : #c4302b;
