@import 'config/config.scss';

.img-24{
    height: 24px;
    width: 24px;
}
.img-40{
    height: 40px;
}
.font-12{
    font-size: 12px;
}
.background-celeste{
    background: $colorPrimary;
    width: 100%;
}

.padding-10{
    padding: 10px;
}
.ptitle-center{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.h1-title{
    text-align: center;
    padding: 15px;
}
